## API config
URL_ENDPOINT=dev-services
REACT_APP_MOENGAGE=
REACT_APP_API_BASE_URL=https://${URL_ENDPOINT}.alteacare.com/
REACT_APP_API_USER_URL=user
REACT_APP_API_ECOMMERCE_URL=ecommerce
REACT_APP_API_ECOMMERCE_DASHBOARD_SERVICE_URL=ecommerce-dashboard
REACT_APP_API_FILE_URL=file
REACT_APP_API_DATA_URL=data
REACT_APP_ENV=development
REACT_APP_SLACK_WEBHOOK=https://hooks.slack.com/services/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

## Port Config
PORT=8888
